.product-master-container {
    margin-top: 150px;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "produk produk cart"
        "produk produk cart"
        "comment comment cart";
}

.product-container {
    grid-area: produk;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto;
    column-gap: 10px;
}

.product-image {
    background-color: salmon;
    position: sticky;
    height: 350px;
    top: 150px;
}

.product-content {
    background-color: aqua;
}

.product-add {
    grid-area: cart;
    background-color: green;
    position: sticky;
    height: 350px;
    top: 150px;
}

.product-comment {
    grid-area: comment;
    background-color: blue;
}
