.product-container {
    margin-top: 120px;
    padding: 0px 30px;
}

.product-image {
    width: 33%;
    height: 400px;
    background-color: salmon;
    position: fixed;
    margin-left: 50px;
    margin-top: 50px;
}

.product-content {
    width: 60%;
    height: auto;
    margin-left: 33%;
    background-color: aqua;
}
